@{
    string user = HttpContext.Current.User.Identity.Name;
}


@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        @if (user == "admin")
        {
            <li>@Html.ActionLink("Panel Admina", "AdminPanel", "Admin")</li>            
        }
        <li>@Html.ActionLink("Twoje Zamówienia", "OrderSummary", "Application")</li>
        <li>@Html.ActionLink(user + " | Wyloguj się", "Logout", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account")</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account")</li>
    </ul>
}
