@{
    string user = HttpContext.Current.User.Identity.Name;
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav">
        @if (user == "admin")
        {
            <li>@Html.ActionLink("Przeglądaj Filmy", "MovieOverview", "Admin")</li>
            <li>@Html.ActionLink("Przeglądaj Użytkowników", "UserOverview", "Admin")</li>
        }
        else
        {
            
            <li>@Html.ActionLink("Menu", "MainMenu", "Application")</li>
        }
    </ul>
}
else
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Repertuar", "Index", "Home")</li>
        <li>@Html.ActionLink("Cennik", "Index", "Home")</li>
    </ul>
}