<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cinema</title>
    <link href="~/Content/vendor/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/vendor/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/vendor/jquery-2.2.3.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <meta name="description" content="System obsługi kina"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Cinema", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_ApplicationPartial")
            @Html.Partial("_AccountPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Cinema</p>
    </footer>
</div>
<script src="~/Scripts/vendor/bootstrap.min.js"></script>
</body>
</html>