<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cinema</title>
    
    <link href="~/Content/vendor/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <script src="~/Scripts/vendor/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/vendor/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/admin/AddFilm.css" type="text/css" rel="stylesheet" />
    

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap Material Design -->
    <link href="~/Content/vendor/bootstrap-material-design.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/ripples.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/cinemaTheme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Application/Repertoire.css">
    <link rel="stylesheet" type="text/css" href="~/Content/admin/adminPanel.css">
    <meta name="description" content="System obsługi kina"/>
</head>
<body>

    <div id="container">
        <div id="header">
            <div class="bg"></div>
            <div class="jumbotron">
                <a href="@Url.Action("Index", "Home")" class="cinema-logo">
                    <img src="@Url.Content("/img/logo.png")" height="125" width="120" />
                    <p class="lead cinemaName">KINO LUJ</p>
                </a>
               


                <!--<img id="logo" src="/img/image_2.png" />-->
               
                
</div>
            <div id="placeholder">
                <div class="navbar navbar-default">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @Html.ActionLink("home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand material-icons" })
                            </div>
                            <div id="navbar-content" class="collapse navbar-collapse">
                                <div class="nav navbar-nav">
                                    @Html.Partial("_ApplicationPartial")
                                </div>
                                <div class="nav navbar-nav navbar-right">
                                    @Html.Partial("_AccountPartial")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="body">
            <div class="container body-content">
                @RenderBody()
                <hr />
            </div>
        </div>
        <div id="footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - Cinema</p>
            </footer>
        </div>
    </div>


<script src="~/Scripts/vendor/material.js"></script>
<script src="~/Scripts/vendor/ripples.js"></script>
<script src="~/Scripts/vendor/site.js"></script>


</body>
</html>