@model Cinema.Models.RegisterModel

@{
    ViewBag.Title = "Zarejestruj się";
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<link href="~/Content/account/auth.css" type="text/css" rel="stylesheet"/>
<script src="~/Scripts/account/auth.js"></script>

@using (Html.BeginForm())
{
    <!-- REGISTRATION FORM -->
    <div class="text-center" style="padding: 50px 0">
        <div class="logo">Zarejestruj się</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="register-form" class="text-left">
                @Html.AntiForgeryToken()
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Login, new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "login" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "hasło" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "potwierdź hasło" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "imię" })
                        </div>

                        <div class="form-group login-group-checkbox">
                            <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                            <label for="reg_agree">Akceptuję warunki <a href="#">regulaminu</a></label>
                        </div>

                        <div id="validation-summary">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                    <button type="submit" class="login-button">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
                <div class="etc-login-form">
                    <p>
                        masz już konto? <a href="/Account/Login">zaloguj się</a>
                    </p>
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
}