@model Cinema.Models.Movie

@{
    ViewBag.Title = "Usuń Film";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h3>Jesteś pewien, że chcesz to usunąć?</h3>
<div class="media">
    <div class="media-left hidden-xs">
        <a href="@Html.DisplayFor(model => model.ImageURL)">
            <img class="media-object" src="@Html.DisplayFor(model => model.ImageURL)" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><strong>@Html.DisplayFor(model => model.Title)</strong></h4><br />
        <div class="media-middle">
            <table>
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Genre):&nbsp</th>
                        <td>@Html.DisplayFor(model => model.Genre)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Length):&nbsp</th>
                        <td>@Html.DisplayFor(model => model.Length) min.</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <p>@Html.DisplayFor(model => model.Description)</p>
            <br />
            <a href="@Url.Action("MovieOverview")" class="btn btn-default">Powrót do Przeglądu</a>
            <input type="submit" value="Usuń" class="btn btn-primary" /> 
        </div>
    </div>
</div>

    }


