@model Cinema.Models.Movie

@{
    ViewBag.Title = "Szczegóły Filmu";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Szczegóły Filmu</h3>
    <div class="media">
        <div class="media-left hidden-xs">
            <a href="@Html.DisplayFor(model => model.ImageURL)">
                <img class="media-object" src="@Html.DisplayFor(model => model.ImageURL)" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><strong>@Html.DisplayFor(model => model.Title)</strong></h4><br/>
            <div class="media-middle">
                <table>
                    <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Genre):&nbsp</th>
                        <td>@Html.DisplayFor(model => model.Genre)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Length):&nbsp</th>
                        <td>@Html.DisplayFor(model => model.Length) min.</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <p class="movie-description">@Html.DisplayFor(model => model.Description)</p>
                <br/>
                <a href="@Url.Action("MovieOverview")" class="btn btn-default">Powrót do Przeglądu</a>
                @Html.ActionLink("Edytuj", "MovieEdit", new {id = Model.MovieID}, new {@class = "btn btn-primary"})
            </div>
        </div>
    </div>
}