@using Cinema.DAL
@using Cinema.Models
@using Cinema.Services
@model IEnumerable<Cinema.Models.Order>

@{
    ViewBag.Title = "Przegląd Zamówień";

    var buyTicketModel = new BuyTicketModel();
    var seanceRepo = new SeanceRepository(new CinemaContext());
    var movieRepo = new MovieRepository(new CinemaContext());
    var userRepo = new UserRepository(new CinemaContext());
}

<h2>Przegląd Zamówień</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Użytkownik")
        </th>
        <th>
            @Html.DisplayName("Film")
        </th>
        <th>
            @Html.DisplayName("Typ")
        </th>
        <th>
            @Html.DisplayName("Data Seansu")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalTicket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReducedTicket)
        </th>
        <th>
            @Html.DisplayName("Koszt Biletów")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(userRepo.GetUserName(item.UserID), "UserDetails", new {id = item.UserID})
            </td>
            <td>
                @Html.ActionLink(movieRepo.GetMovieName(seanceRepo.GetMovieId(item.SeanceID)), "MovieDetails", new {id = item.SeanceID})
            </td>
            <td>
                @Html.ActionLink(seanceRepo.GetSeanceType(item.SeanceID), "SeanceDetails", new {id = item.SeanceID})
            </td>
            <td>
                @Html.ActionLink(seanceRepo.GetSeanceDate(item.SeanceID).ToString(), "SeanceDetails", new {id = item.SeanceID})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReducedTicket)
            </td>
            <td>
                @buyTicketModel.GetTicketsCost(item.NormalTicket, item.ReducedTicket, seanceRepo.GetSeanceType(item.SeanceID))zł

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCode)
            </td>
        </tr>
    }

</table>