@model Cinema.Models.Seance

@{
    ViewBag.Title = "Usuń Seans";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Jesteś pewien, że chcesz to usunąć?</h3>
    <div class="media">
        <div class="media-body">
            <div class="media-middle">
                <table>
                    <tbody>
                        <tr>
                            <th class="text-right">@Html.DisplayNameFor(model => model.MovieID):&nbsp</th>
                            <td>@Html.DisplayFor(model => model.MovieID)</td>
                        </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ShowDate):&nbsp</th>
                        <td>@Html.DisplayFor(model => model.ShowDate)</td>
                    </tr>
                    <tr>
                        <th class="text-right">@Html.DisplayNameFor(model => model.Type):&nbsp</th>
                        <td>@Html.DisplayFor(model => model.Type)</td>
                    </tr>
                    </tbody>
                </table>
                <br />
                <a href="@Url.Action("SeanceOverview")" class="btn btn-default">Powrót do Przeglądu</a>
                <input type="submit" value="Usuń" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
