@using Cinema.DAL
@using Cinema.Services
@model Cinema.Models.Seance

@{
    ViewBag.Title = "Szczegóły Seansu";
    MovieRepository movieRepo = new MovieRepository(new CinemaContext());
}

<h2>Szczegóły Seansu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieID)
        </dt>

        <dd>
            @Html.ActionLink(movieRepo.GetMovieName(Model.MovieID), "MovieDetails", new { id = Model.MovieID })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "SeanceEdit", new { id = Model.SeanceID })  |
    @Html.ActionLink("Powrót do Przeglądu", "SeanceOverview")
</p>

