@using Cinema.DAL
@using Cinema.Services
@model Cinema.Models.Seance

@{
    ViewBag.Title = "Szczegóły Seansu";
    MovieRepository movieRepo = new MovieRepository(new CinemaContext());
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Szczegóły Seansu</h3>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading"><strong>@Html.DisplayName(movieRepo.GetMovieName(Model.MovieID))</strong></h4><br />
            <div class="media-middle">
                <table>
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ShowDate):&nbsp</th>
                            <td>@Html.DisplayFor(model => model.ShowDate)</td>
                        </tr>
                        <tr>
                            <th class="text-right">@Html.DisplayNameFor(model => model.Type):&nbsp</th>
                            <td>@Html.DisplayFor(model => model.Type)</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <a href="@Url.Action("SeanceOverview")" class="btn btn-default">Powrót do Przeglądu</a>
                @Html.ActionLink("Edytuj", "SeanceEdit", new { id = Model.MovieID }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

