@model IEnumerable<Cinema.Models.User>

@{
    ViewBag.Title = "Przegląd Użytkowników";
}

<h2>Przegląd Użytkowników</h2>

<p>
    @Html.ActionLink("Dodaj Użytkownika", "UserAdd")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "UserEdit", new { id=item.UserID }) |
            @Html.ActionLink("Szczegóły", "UserDetails", new { id=item.UserID }) |
            @Html.ActionLink("Usuń", "UserDelete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
