@model Cinema.Models.TicketPrice

@{
    ViewBag.Title = "Cennik";
}
<link href="~/Content/admin/AddFilm.css" type="text/css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="panel panel-info panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h2><strong>Cennik</strong></h2>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="moviesTable" class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th class="col-md-6 col-sm-8 col-xs-8">Rodzaj seansu</th>
                                <th class="text-center col-md-3 col-sm-2 col-xs-2">Filmy 2D</th>
                                <th class="text-center col-md-3 col-sm-2 col-xs-2">Filmy 3D</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">Bilet normalny</td>
                                <td class="text-center">@Html.DisplayFor(model => model.normal2D)</td>
                                <td class="text-center">@Html.DisplayFor(model => model.normal3D)</td>
                            </tr>
                            <tr>
                                <td class="text-center">Bilet ulgowy*</td>
                                <td class="text-center">@Html.DisplayFor(model => model.reduced2D)</td>
                                <td class="text-center">@Html.DisplayFor(model => model.reduced3D)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12">
                        <h6>*młodzież szkolna oraz studenci do 26 roku życia<br /> (za okazaniem ważnej legitymacji uczniowskiej/studenckiej)</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Rodzaj seansu</th>
                <th>Filmy 2D</th>
                <th>Filmy 3D</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bilet normalny</td>
                <td>@Html.DisplayFor(model => model.normal2D)</td>
                <td>@Html.DisplayFor(model => model.normal3D)</td>
            </tr>
            <tr>
                <td>Bilet ulgowy</td>
                <td>@Html.DisplayFor(model => model.reduced2D)</td>
                <td>@Html.DisplayFor(model => model.reduced3D)</td>
            </tr>
        </tbody>
    </table>
</div>
<!--
<div class="thumbnail">
    <div class="row">
        <div class="col-sm-push-2 col-sm-4 text-left">
                  
        </div>
        <div class="col-sm-4 text-center">
            <h3>Filmy 2D</h3>
        </div>
        <div class="col-sm-4 col-sm-offset-2 text-center">
            <h3>Filmy 3D</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4 text-left">
            <h3>Bilet normalny</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>@Html.DisplayFor(model => model.normal2D)</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>@Html.DisplayFor(model => model.normal3D)</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-left">
            <h3>Bilet ulgowy*</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>@Html.DisplayFor(model => model.reduced2D)</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>@Html.DisplayFor(model => model.reduced3D)</h3>
        </div>
    </div>
    <div class="col-sm-13"><hr></div>
    <div class="row">
        <div class="col-sm-4">
            <h6>*młodzież szkolna oraz studenci do 26 roku życia (za okazaniem ważnej legitymacji uczniowskiej/studenckiej)</h6>
        </div>
    </div>
    
</div>-->