@using Cinema.DAL
@using Cinema.Services
@model IEnumerable<Cinema.Models.Seance>

@{
    ViewBag.Title = "Wybierz Seans";
    MovieRepository movieRepo = new MovieRepository(new CinemaContext());
}

@if (!Model.Any())
{
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <div class="panel panel-info panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h2><strong>Nie znaleziono seansów</strong>
                                </h2>
                            </div>
                            <div class="col col-xs-6 text-right">
                                @Html.ActionLink("Powrót do repertuaru", "Repertoire", null, new { @class = "btn btn-sm btn-raised" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <h4>Przepraszamy, ale dla wybranego filmu nie ma żadnych seansów.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-offset-2">
                <div class=" panel panel-info panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h2>
                                <strong>@Html.Name(movieRepo.GetMovieName(Model.First().MovieID))</strong>
                            </h2>
                        </div>
                        <div class="col col-xs-6 text-right">
                            @Html.ActionLink("Powrót do repertuaru", "Repertoire", null, new {@class = "btn btn-sm btn-raised"})
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th class=" col-md-3">@Html.DisplayNameFor(model => model.ShowDate)</th>
                                <th class="text-center col-md-3">@Html.DisplayNameFor(model => model.Type)</th>
                                <th class="text-center col-md-3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.MovieID">
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.ShowDate)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.Type)</td>
                                    <td class="text-center">
                                        @Html.ActionLink("Kup Bilet", "BuyTicket", new { id = item.SeanceID }, new { @class = "btn btn-success" })
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    
}

